<div class="row ml-1 mr-1 mb-0 text-center">
    <h3 class="col border border-1 border-dark mb-0"><%= link_to "Network", member_contacts_path %></h3>
    <h3 class="col border border-1 border-dark mb-0"><%= link_to "Constitution", contacts_path %></h3>
    <h3 class="col border border-1 border-dark mb-0"><%= link_to "Account Info", contacts_path %></h3>
    <h3 class="col border border-1 border-dark mb-0"><%= link_to "My Network Info", member_networks_path %></h3>
</div>