<h1>Member Dashboard</h1>
<p>Welcome to your dashboard! Here you can view and manage your settings.</p>

<ul>
  <li><%= link_to 'View Events', events_path %></li>
  <li><%= link_to 'Logout', destroy_member_session_path, method: :delete %></li>
</ul>
