<div class="header">
    <div class="col">
        <%= image_tag "BOLD_Logo.jpg", alt: "Logo", class:"logo" %>  
    </div>
    <div class="col">
    <h1 class="text-center">Business Outreach for Leadership & Diversity</h1>
    </div>
    <div class="col text-right">
        <h3>Today's Date</h3>
        <%= image_tag "download.png", alt: "Image", class:"user" %>
    </div>
</div>
