<!-- app/views/home/about.html.erb -->
<section class="py-5 text-center">
  <div class="container">
    <div class="background-img py-5">
      <h1 class="outlined-text">About Us </h1>
    </div>
    <br/>
    <div class="area">
      <p class="mt-4 text-center ml-1 mr-1">
      <strong>Business Outreach for Leadership and Diversity (BOLD)</strong> is a student-run organization at <strong>Mays
      Business School—Texas A&M University </strong> positioned to empower all voices and opinions.
      <i>*Officially Recognized Student Organization, formerly known as Mays Pride*</i>
      <br/>
      <br/>
      At <strong>Business Outreach for Leadership and Diversity (BOLD)</strong>, we are committed to inspiring
      leadership, embracing diversity, and achieving boldness. Our mission is to develop and promote
      the diverse community within Mays Business School and the broader business world. We support
      our members by providing educational opportunities, networking, and connecting them with
      professionals and alumni. Through our initiatives, we aim to create a safe and welcoming
      environment where individuals from all backgrounds—whether personal, religious, ethnic, legal,
      or educational—can thrive and grow professionally. At BOLD, we believe in the power of
      diversity, equity, inclusivity, and authentic leadership to empower students to succeed
      professionally while being true to themselves.
      </p>
    </div>
    
    <h5 class="mt-5">Documentation for Website</h5>
    <p>
      Documentation: <a href="https://drive.google.com/drive/folders/1dAzx8xPn35jF1bqG0YlvS30dUM26B3hy?usp=drive_link" target="_blank">BOLD Documentation</a>
    </p>
  </div>
</section>
