<!-- Featured Content Section -->
<section class="py-5">
  <div class="container text-center">
    <h2 class="display-4">Featured Content</h2>
    <div class="area">
      <p class="mt-4 text-center">
          See some of our featured members!
      </p>
    </div>
    <br/>
    <!-- Photo Gallery Section -->
    <div id="gallery" class="row">
      <div class="col-md-6 mb-4">
        <%= image_tag "Write up - kj.jpg", alt: "Featured Image", class: "img-fluid gallery-image" %>  
      </div>
      <div class="col-md-6 mb-4">
        <%= image_tag "Write up - Kush.jpg", alt: "Featured Image", class: "img-fluid gallery-image" %>  
      </div>
      <div class="col-md-6 mb-4">
        <%= image_tag "Write up - Matt.jpg", alt: "Featured Image", class: "img-fluid gallery-image" %>  
      </div>
      <div class="col-md-6 mb-4">
        <%= image_tag "Write up - Udit.jpg", alt: "Featured Image", class: "img-fluid gallery-image" %>  
      </div>
  </div>
</section>

