<!-- Featured Content Section -->
<section class="py-5">
  <div class="container text-center">
    <h2 class="display-4">Featured Content</h2>
    <div class="area">
      <p class="mt-4 text-center">
          See some of our featured members!
      </p>
    </div>
    <br/>
    <!-- Photo Gallery Section -->
    <div id="gallery" class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <%= image_tag "tareq.png", alt: "Featured Image", class:"img-fluid" %>  
        </div>
    </div>
  </div>
</section>

