<section class="text-center py-5">
  <div class="container">
    <!-- Background Image Wrapper -->
    <div class="background-info py-5">
      <h2 class="text-uppercase">Founded: 2020</h2>
      <p class="lead">Texas A&M University (College Station, TX)</p>
    </div>
    <div class="area">
      <p class="mt-4">
        Develop and promote the Pride community within the Mays Business School and business world by educating, inspiring, and connecting students with professionals and alumni in their industry.
        <br>
        Create and maintain a safe space and welcoming environment within the Mays Business School for anyone who identifies as LGBTQ+/Allies; and facilitate connections between all groups that individuals may identify with, including personal, religious, ethnic, legal, political, and educational.
      </p>
    </div>
  </div>
</section>