<div class="row ml-1 mr-1 mb-0 text-center">
    <h3 class="col border border-1 border-dark mb-0"><%= link_to "Events", events_path %></h3>
    <h3 class="col border border-1 border-dark mb-0"><%= link_to "Network", contacts_path %></h3>
    <h3 class="col border border-1 border-dark mb-0">Constitution</h3>
    <h3 class="col border border-1 border-dark mb-0"><%= link_to "Requests", requests_path %></h3>
</div>