<%= render "header"%>

<h2>Delete Feedback Form</h2>
<br/>

<div class="form-member">
  <div class="form-member-header">
      <%= link_to("< Back to Feedback Form", show_feedback_form_event_path(@event), :class => 'ml-3 btn btn-secondary') %>
  </div>

    <div class="form-member-col-container">
        <div class="form-member-col-content-main">
            <h3 style="color: red;">Are you sure you want to permanently delete this feedback form?</h3>
            <span>This will not delete any linked Google Sheets from Google Drive</span><br/><br/>

            <strong>Feedback Form's Event Name: </strong>
            <span><%= @event.name%></span><br/><br/>
        </div>
    </div>

    <div class="form-member-footer">
        <span style="float: right;">
            <%= button_to destroy_feedback_form_event_path, class: "btn btn-danger", method: :get do %>
				<span>Delete Feedback Form</span>
			<% end %>
        </span>
    </div>
</div>
<br/>
