<%= render "header"%>
<%= render "adminheader"%>
<br/>

<div class="text-center">
  <h2>Editing Event</h2>
</div>

<div>
    <%= link_to 'Back to Events', events_path, class:"btn btn-secondary"%>
</div>
<br/>
<%= render "form", event: @event %>

<br>

<div>
  
</div>
