<%= render "header"%>
<br/>

<h1 class="title-page">Editing event</h1>

<div class="ml-2">
  <%= link_to "Back to events", events_path %>
  <%= link_to "Show this event", @event, class:"ml-2" %>
</div>
<br/>
<%= render "form", event: @event %>

<br>

<div>
  
</div>
