<%= render "header"%>

<h2>Create New Event</h2>
<br/>

<div class="form-member">
  <div class="form-member-header">
      <%= link_to "< Back To Events", events_path, class:"ml-3 btn btn-secondary" %>
  </div>

  <%= render "form", event: @event %>
</div>
<br/>

