<%= render "header"%>
<%= render "adminheader"%>
<br/>

<div class="text-center">
  <h2>Create New Event</h2>
</div>
<div>
  <%= link_to "Back to events", events_path, class:"ml-3" %>
</div>
<br/>

<%= render "form", event: @event %>

<br>


