<%= render "header"%>
<div>
    <h2 class="title-page">Sign In Again</h2>
    <%= link_to("Back to RSVP Form", rsvp_form_event_path(@event), :class => 'back-link ml-2')%>
	<div>
        <br/>
        <h3>Please sign in again to complete the request</h3>
    
        <div class="form-buttons ml-2">
			<%= button_to member_google_oauth2_omniauth_authorize_path(prompt: 'consent'), class: "btn btn-danger", method: :post, data: { turbo: "false" } do %>
				<i class="fab fa-google mobile-text"></i><span class="mobile-font">&nbsp;Google</span>
			<% end %>
        </div>    
      </div>
</div>

