<%= render "events/header"%>

<h2>Editing Contact</h2>
<br/>

<div class="form-member">
  <div class="form-member-header">
      <%= link_to "< Back To BOLD Network", contacts_path, class:"ml-3 btn btn-secondary" %>
  </div>

  <%= render "form", contact: @contact %>
</div>
<br/>