
<%= render "events/header"%>

<%= render "events/adminheader"%>

<br/>

<button><%= link_to 'Back to Network', contacts_path %></button>

<%= render "form", contact: @contact %>

<br/>
<br/>
<br/>



