<div>
	<h2><%= form_type %> Form</h2>
	<% curr_form.responses.each do |a| %>
		<% num_responses = num_responses + 1 %>
	<% end %>

	<div>
		<%= form_type %> responses: 
		<%= num_responses %>
	</div>
</div>