<h1>Monitor Forms</h1>

<%= render partial: "monitor_form", locals: {form_type: "RSVP", curr_form: @rsvp_form, num_responses: @rsvp_responses} %>
<%= render partial: "monitor_form", locals: {form_type: "Feedback", curr_form: @feedback_form, num_responses: @feedback_responses} %>



