<h1>Respond To Forms</h1>

<div>
	<h2>RSVP Form</h2>
	<%= link_to "RSVP Form", @rsvp_form.responder_uri %>
</div>

<div>
	<h2>Feedback Form</h2>
	<%= link_to "Feedback Form", @feedback_form.responder_uri %>
</div>
